fastapi
uvicorn[standard]
pydantic-settings
python-multipart
langchain
langchain-openai
langchain-qdrant
langchain-community
langchain-text-splitters
qdrant-client
pypdf
pymupdf
azure-ai-documentintelligence